@model List<PlotCreator.Domain.ViewModels.EpisodeViewModel>

@{
    ViewBag.Title = "Мои эпизоды";
    Layout = "_Layout";
}
<div class="d-flex align-items-center">
    <a class="btn btn-success fs-5" asp-controller="Books" asp-action="MyBook" asp-route-id=@ViewData["BookId"]>&#8592;</a>
    <h1 style="margin-left:10px;">Эпизоды</h1>
</div>
<div style="padding: 10px;"></div>

<div style="width: 100%;padding:2px 4px; border-radius: 4px;">
    <div class="w-100 d-flex justify-content-between align-items-start flex-wrap">
        <div>
            <a class="btn btn-success" asp-area="" asp-action="Save" asp-route-id="0" asp-route-bookId=@ViewData["BookId"]>Добавить эпизод</a>

        </div>
        <div class="input-group serch-container">
            <button class="btn btn-success" type="button" id="reverse" style="margin-right:10px;">&#8595;</button>
            <input type="text" class="form-control" id="search-bar" placeholder="Название эпизода">
            <button class="btn btn-success" type="button" id="search-btn">Поиск</button>
            <button class="btn btn-danger" type="button" id="reset-btn">Сброс</button>
        </div>
    </div>
</div>
<hr class="dropdown-divider w-100 mb-3">
@if (!Model.Any())
{
    <h2 class="text-info">Эпизодов не найдено!</h2>
}
<div class="cont-cont" id="block_container">
    @foreach (var episode in Model)
    {
        <a class="SceneContainer episodeContainer" asp-controller="Episodes" asp-action="GetBookEpisode" asp-route-id="@episode.Id">
            <div class="listPointer"></div>
            <h4 class="episode-name">@episode.Heading</h4>
        </a>
    }


    <h4 class="hide" id="noEpisode">Эпизодов не найдено!</h4>
</div>

@section Scripts{

    <script type="module" src="~/js/Episodes/episode.js"></script>
}