:root {
    --main-dark: #212529;
}


html, body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1 1 auto;
    margin: 32px 0;
    width:80%;
}

footer {
    width: 100%;
    background-color: var(--main-dark);
    color: white;
    display: flex;
    justify-content: center;
    padding: 12px;
}

/*Контейнер для отцентровывания*/
.centralWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}