@model PlotCreator.Domain.ViewModels.Account.RegisterViewModel

@{
    ViewData["title"] = "Регистрация";
}


<div style="padding: 10px;"></div>
<div class="col-md-12 d-flex justify-content-center">
    <div class="card-body">
        <div class="card card-outline-secondary">
            <div class="card-body body-frame">
                <h3 class="mb-3 text-center ParagraphHome">Регистрация</h3>
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div class="row mb-3">
                        <label asp-for="Nickname" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Nickname" type="text" class="form-control" name="Nickname" required autocomplete="Nickname" autofocus>
                            <span asp-validation-for="Nickname" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Login" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Login" type="text" class="form-control" name="Login" required autocomplete="Login" autofocus>
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Email" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Email" type="email" class="form-control" name="Email" required autocomplete="Email" autofocus>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Password" class=" col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="Password" type="password" class="form-control" name="Password" required autocomplete="Password" autofocus>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="PasswordConfirm" class="col-md-4 col-form-label text-md-end"></label>
                        <div class="col-md-6">
                            <input asp-for="PasswordConfirm" type="password" name="PasswordConfirm" required class="form-control">
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        </div>
                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div class="w-100 d-flex justify-content-center mb-3">
                            <span class="text-danger">@ViewBag.Error</span>
                        </div>
                    }
                    <div class="w-100 d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/Account/register.js"></script>
}